<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <a class="navbar-brand" href="">
        <img src="/static/images/LOGO.png" width="40" height="40">
      </a>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/characters">Characters</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/arenas">Arenas</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item active ">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        {% else %}
          <li class="nav-item active ">
            <a class="nav-link" href="/login">Login</a>
          </li>
        {% endif %}
        
      </ul>
        
    </div>
</nav>